@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Open+Sans:300,400,600,700,800&display=swap');
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.woff2') format('woff2'),
         url('../font/NanumSquareL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset */
html, body {
    width: 100%;
    height: 100%;
}
html, body, div, h1, h2, h3, img, ul, li, p {
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition-duration: 0.2s;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img, input, select {
    border: 0;
    vertical-align: center;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 로고, 메뉴 logo, gnb menu */
#header {
    margin: 30px 5% 0 5%;
    z-index: 9999;
    height: 30px;
    width: 90%;
    transition: all 0.5s;
}
.logo {
    height: 30px;
    float: left;
}
#nav:after {
    content: "";
    display: block;
    clear: both;
}
#nav {
    float: right;
    width: 45%;
}
.menu:after, .goSearch:after {
    content: "";
    display: block;
    clear: both;
}
img.menuBtn {
    width: 20px;
    float: right;
    margin-left: 28px;
    display: none;
    cursor: pointer;
}
img.goSearch {
    width: 20px;
    float: right;
    cursor: pointer;
}
ul#gnb {
    float: right;
}
ul#gnb > li {
    display: block;
    float: left;
    padding-right: 28px;
    margin-top: 7px;
    
    font-size: 15px;
    text-align: center;
    line-height: 0.5em;
    font-weight: bold;
    
    cursor: pointer;
}
ul#gnb > li:hover {
    color: #fff;
}

/*------- 컨텐츠들 --------*/
.conText {
    cursor: pointer;
    height: 100%;
    text-align: center;
    margin: 0 auto;
/*    background: rgba(0, 0, 255, 0.3);*/
}
.conText > h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
.conText > p {
    font-family: 'NanumSquareL';
    font-size: 1.5em;
    line-height: 24pt;
}

/* 컨텐츠1 contents1 */
#container {
    width: 100%;
    box-sizing: content-box;
}
.top {
    height: 100%;
    overflow: hidden;
}
.top div.backImg {
    background: url('../img/galaxy-s10.png') 50% 30% no-repeat;
    margin: 0 auto;
    z-index: -9999;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: absolute;
    top: 0; left: 0; right: 0;
}

.top > .conText {
    width: 80%;
    height: 100%;
    text-align: left;
    margin-top: 60px;
/*    background: rgba(0, 255, 255, 0.7);*/
}
.top > .conText > h3 {
    padding-top: 450px;
}
.top > .conText > p {
    margin-top: 0;
    margin-bottom: 0;
}

/* 컨텐츠2 contents2 */
.underWrap {
    width: 100%;
    max-width: 1200px;
    height: 700px;
    position: relative;
    top: 280px;
}
.scrollBox {
    width: 50%;
    height: 700px;
    float: left;
    background: #fff;
}
button.more {
    float: right;
    margin-left: 1000px;
    margin-right: 50px;
    margin-top: 70px;
    
    background: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #000;
    
    font-family: Arial;
    font-weight: 600;
}
.scrollContent {
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    width: 50%;
    min-width: 380px;
    max-width: 450px;
    height: 430px;
    overflow-y: scroll;
    background: #fff;
}
.scrollContent div {
    width: 360px;
    padding-right: 15px;
    margin-bottom: 88px;
}
.scrollContent div:last-child {
    margin-bottom: 0;
}
.scrollContent h5 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: block;
    text-align: left;
}
.scrollContent p {
    padding-left: 40px;
    font-family: 'NanumSquareL';
    font-size: 16px;
    line-height: 22px;
    display: block;
    width: 260px;
}
.scrollContent span {
    display: block;
    font-size: 8px;
    text-align: right;
    font-family: Arial;
}

    /*---스크롤박스 끝---*/
.under {
    width: 50%;
    height: 700px;
    float: right;
    background-image: url('../img/watch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
.under > .conText {
    width: 80%;
    height: 100%;
    text-align: left;
    margin-top: 54px;
    margin-left: 60px;
    color: #fff;
}
.under > .conText > p {
    margin-top: 0;
    margin-bottom: 0;
    width: 350px;
    
    font-size: 1.5em;
    line-height: 24pt;
}
.under img {
    z-index: -999;
}

/* 컨텐츠3 contents3 */
.third {
    width: 100%;
    height: 460px;
    
    background-image: url('../img/oneUI.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin:  content-box;
    background-position: center;
    overflow: hidden;
    
    position: relative;
    top: 270px;
}
.third > .conText > h3 {
    margin-top: 180px;
}

/* 컨텐츠4 contents4 */
.fourth {
    width: 70%;
    height: 700px;
    
    background-image: url('../img/galaxy_book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin:  content-box;
    background-position: top right;
    overflow: hidden;
    
    position: relative;
    top: 215px;
}
.fourth > .conText {
    float: right;
    margin-right: 125px;
}
.fourth > .conText > h3 {
    margin-top: 80px;
    text-align: left;
}
.fourth > .conText > p {
    text-align: left;
}

 /* 컨텐츠5 contents5 */
div.last {
    width: 60%;
    height: 700px;
    float: right;
    
    background-image: url('../img/z-flip.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin:  content-box;
    background-position:  center left;
    overflow: hidden;
    position: relative;
    margin-bottom: 70px;
}
.last > .conText {
    margin-left: 100px;
    height: 150px;
}
.last > .conText > h3 {
    color: #fff;
    margin-top: 540px;
    text-align: left;
}
.last > .conText > p {
    color: #fff;
    text-align: left;
}

/* 슬라이드 slide */
#slide {
    position: relative;
    top: 770px;
    width: 100%;
}
#next {
    position: absolute;
    top: 350px;
    right: 50px;
    z-index: 100;
}
#next img {
    width: 40px;
    height: 75px;
}
#prev {
    position: absolute;
    top: 350px;
    left: 50px;
    z-index: 100;
}
#prev img {
    width: 40px;
    height: 75px;
}

#slideBox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 740px;
    overflow: hidden;
    z-index: 10;
}
#slideBox ul {
    position: relative;
    float: left;
    width: 100%;
}
#slideBox li {
    position: absolute;
    width: 100%;
    height: 740px;
    cursor: pointer;
}
#slideBox .news1 {
    background-image: url('../img/news1-1.jpg');
    background-size: cover;
    background-position: center;
}
#slideBox .news2 {
    background-image: url('../img/news2-1.jpg');
    background-size: cover;
    background-position: center;
}
#slideBox .news3 {
    background-image: url('../img/news3-1.jpg');
    background-size: cover;
    background-position: center;
}
#slideBox .news4 {
    background-image: url('../img/news4-1.jpg');
    background-size: cover;
    background-position: center;
}

div.subTitle {
    width: 1200px;
    margin: 580px auto;
    color: #fff;
}
.subTitle h3 {
    font-family: 'NanumSquareL';
    font-size: 42px;
    text-align: center;
    margin-bottom: 10px;
}
.subTitle span {
    float: left;
    margin-left: 485px;
    font-size: 20px;
    text-align: left;
}
.subTitle p {
    float: right;
    margin-right: 470px;
    font-size: 20px;
    text-align: right;
}

/* 푸터 footer */
#footer {
    position: relative;
    top: 1490px;
}
#bmenu {
    height: 82px;
    width: 100%;
}
#bmenu ul {
    width: 380px;
    margin: 0 auto;
    text-align: center;
}
#bmenu li {
    float: left;
    display: block;
    margin-left: 22px;
    
    line-height: 80px;
    font-size: 12px;
    font-weight: bold;
    color: #8f8f8f;
    cursor: pointer;
}
#bmenu li:hover {
    color: #111;
}
#bmenu li.first {
    margin-left: 0;
}

#footer h1 img {
    width: 120px;
    margin-left: 340px;
    float: left;
    padding-bottom: 102px;
}
#footer p {
    padding-right: 350px;
}
#footer p, #footer span {
    float: left;
    font-size: 14px;
    color: #555;
    margin-left: 30px;
    margin-top: 10px;
}
#footer span {
    cursor: pointer;
    font-size: 13px;
}