@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(NanumSquareR.eot);
 src: url(NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareR.woff) format('woff'),
      url(NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(NanumSquareB.eot);
 src: url(NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareB.woff) format('woff'),
      url(NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(NanumSquareEB.eot);
 src: url(NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareEB.woff) format('woff'),
      url(NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(NanumSquareL.eot);
 src: url(NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(NanumSquareL.woff) format('woff'),
      url(NanumSquareL.ttf) format('truetype');
}

/* reset */
html, body {
    width: 100%;
    height: 100%;
}
html, body, div, h1, h2, h3, img, ul, li, p {
    margin: 0; padding: 0;
    transition-duration: all 0.2s;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img, input, select, fieldset, label {
    border: 0;
    vertical-align: center;
}
[type=search], [type=button] {
    outline: none;
    border: none;
    background-color: transparent;
}

#wrap {
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}

/* 헤더 header */
header { height: 85px; }
#head {
    max-width: 1200px;
    width: 100%;
    height: 85px;
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 300;
}
#head .headerBack {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
}
.logo {
    margin-top: 30px;
    height: 30px;
    float: left;
    z-index: 300;
}
#nav {
    float: right;
    width: 900px;
}
.menuBtn, .goSearch, .searchX {
    width: 20px;
    vertical-align: top;
    float: right;
    margin-top: 30px;
    margin-left: 20px;
    
    cursor: pointer;
    z-index: 300;
}
.menuBtn, .blind {
    display: none;
}

/* 검색창 -------------- */
#toggle_search fieldset#searchBox {
    width: 300px;
    height: 29px;
    margin-top: 23px;
    padding: 0;
    border-bottom: 2px solid #111;
    float: right;
    display: none;
    width: 0%;
}
#searchBox form {
    width: 100%;
    margin: 0;
    padding: 0;
}
#searchBox form label {
    display: none;
    text-indent: -9999%;
}
#searchBox input[type=search] {
    line-height: 24px;
    width: 72%;
}
#searchBox button {
    width: 25%;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
/* 검색창 끝 -------------- */

#gnb {
    float: right;
    margin-top: 30px;
    z-index: 300;
    width: 45%;
}
#gnb li {
    display: block;
    float: left;
    margin-left: 25px;
    position: relative;
}
#gnb li span {
    display: block;
    cursor: pointer;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}
#gnb li:hover span:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: -1;
    position: absolute;
    left: 0%;
    bottom: -5px;
}


/* 컨텐츠들 contents */
@keyframes DownToUp {
    0% { opacity: 0; transform: translateY(50%); } 
    100% { opacity: 1; transform: translateY(0%); }
}

#container {
    position: relative;
    top: 00px;
    width: 1200px;
    margin: 0 auto;
    height: 2900px;
    overflow: hidden;
}
section.target {
    transform: translateY(0);
    visibility: visible;
}
section.up{
    animation: DownToUp 1s;
    visibility: visible;
}
section.ready {
    visibility: hidden;
    transform: translateY(0%);
}
div.imgBox {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.imgBox img {
    width: 100%;
    filter: blur(2px) brightness(80%);
    transform: scale(1.01, 1.01) translateY(-12%);
    transition: transform 1s 0s;
}
section {
    margin-bottom: 100px;
    color: #111;
    position: relative;
}
section h3 {
    font-family: 'Open Sans', sans-serif;'NanumSquare';
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
    width: 80%;
}
section p {
    font-family: 'NanumSquare';
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    float: left;
    width: 80%;
}
section span {
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0;
}
section .txtBox {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #fff;
    width: 60%;
}

    /*hover*/
section:hover .imgBox img {
    filter: blur(0) brightness(100%);
    transform: scale(1.1, 1.1) translateY(-12%);
}

/* 더보기 moreBtn */
#moreBtn {
    display: block;
    width: 100px;
    height: 100px;
    margin: 80px auto 50px;
    background-color: #eee;
    opacity:0.7;
    cursor: pointer;
}
#moreBtn span {
    display: block;
    padding: 20px 20px 10px;
    text-align: center;
    font-weight: bold;
}
#moreBtn .downLine {
    content: "";
    display: block;
    height: 30px;
    width: 49px;
    border-right: 2px solid #111;
    position: relative;
    top: 0;
}
#moreBtn:hover {
    opacity: 0.9;
}
#moreBtn:hover .downLine {
    animation: down 0.7s infinite;
}
@keyframes down {
    0% { height: 30px; top: 0px; }
    50% { height: 0px; top: 30px; }
    50.00001% { height: 0; top: 0; }
    100% { height: 29px; top: 0px; }
}

/* 푸터 footer */
#foot {
    position: relative;
/*    top: 1480px;*/
    width: 1200px;
    margin: 0 auto 60px;
    height: 140px;
}
#bmenu {
    height: 82px;
    width: 100%;
}

#bmenu ul {
    width: 100%;
    text-align: center;
}
#bmenu li {
    display: block;
    float: left;
    margin-left: 22px;
}
#bmenu li:first-child {
    margin-left: 37%;
}
#bmenu li a {
    display: block;
    line-height: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #8f8f8f;
}
#bmenu li:hover a {
    color: #111;
}

#address {
    width: 100%;
    margin: 0 auto;
}
#address img#bLogo {
    width: 130px;
    margin-left: 33%;
/*    padding-bottom: 60px;*/
    float: left;
    cursor: pointer;
}
#address p {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    padding-right: 350px;
    margin: 10px auto 20px 30px;
}
#address span {
    float: left;
    font-family: 'NanumSquare';
    font-weight: 400;
    font-size: 14px;
    color: #555;
    margin-left: 30px;
    
    cursor: pointer;
    font-size: 13px;
/*    margin-bottom: 70px;*/
}

/* 탑버튼 gotoTop */
#gotoTop {
    display: none;
    width: 70px;
    height: 70px;
    
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #f9f9f9;
    opacity: 0.3;
    border-radius: 5px;
    z-index: 999;
}
#gotoTop a {
    display: block;
    width: 70px;
    height: 70px;
}
#gotoTop a img {
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1000;
}
#gotoTop:hover {
    opacity: 0.8;
}







